body {
    font-family: 'Open Sans', sans-serif;
}


.container {
  max-width: 1180px;
  margin: 0 auto;
}

.category__nav {
  margin-bottom: 50px;
  margin-left: 38px;
}

.category_nav-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
  margin-bottom: 0%;
}

.home {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #1E0606;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 15px;
}

.category {
  margin-left: 72px;
  margin-bottom: 56px;
  margin-top: 42px;
}

.category__listup {
  display: flex;
  column-gap: 20px;
}

.category__listup-item {
  display: flex;
  flex-direction: column;
}

.category__listdown {
  display: flex;
  justify-content: flex-end ;
  column-gap: 20px;
  margin-right: 210px;
}

.category__listdown-item {
  display: inline;
  flex-direction: row;
}

.discription {
  margin-top: 601px;
  margin-left: 180px;
}

.discription__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 45px;
  text-transform: uppercase;
  color: #1E0606;
  margin-left: 20px;
  word-spacing: 4px;
  letter-spacing: 0px;
}

.discription_info {
  display: flex;
  max-width: 680px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  margin-left: 18px;
  margin-top: -3px;
}

.discription_info2 {
  display: flex;
  max-width: 680px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  margin-left: 18px;
  margin-top: 14px;
}

.discription_info3 {
  display: flex;
  max-width: 680px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  margin-left: 18px;
  margin-top: 14px;
}

.category__listup-appa {
  position: absolute;
    top: 347px;
    left: 127px;
}

.category__listup-appk {
  font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
    position: absolute;
    left: 184px;
    top: 378px;
    width: 131px;
}

.category__listup-holi {
  position: absolute;
  left: 446px;
  top: 314px;
}

.category__listup-hol {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
  position: absolute;
  left: 484px;
  top: 378px;
  width: 131px;
}

.category__listup-toys {
  position: absolute;
  left: 53.2%;
  top: 302px;
}

.category__listup-toy {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
  position: absolute;
  left: 814px;
  top: 394px;
}

.category__listdown-acc {
  position: absolute;
    left: 24.6%;
    top: 604px;
}

.category__listdown-acces {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
  position: absolute;
  left: 354px;
  top: 687px;
}

.category__listdown-sale{
  position: absolute;
  left: 626px;
  top: 605px;
}

.category__listdown-sal{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
  position: absolute;
  left: 715px;
  top: 687px;
}

.category__listdown-app {
  position: absolute;
  right: 156px;
  top: 627px;
}

.category__listdown-appa {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
  position: absolute;
  top: 671px;
  right: 227px;
  left: 980px;
}

.header__list-one {
  margin-left: 69px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
}