a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  }

.header {
  display: flex;
  align-items: center;
  margin-bottom: 49px;
}

.header__list-one{
  margin-left: 109px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
}

.header__list-one5 {
  padding-left: 677.93px;
}

.footer {
  display: flex;
  background: #434343;
}

.nav_menu-name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #AAAAAA;
}

.nav_menu-chapt {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.info_name {
  color: #FFFFFF;
}

.info_copyright {
  color: #FFFFFF;
}

.info_design {
  color: #AAAAAA;
}

.social {
  display: flex;
  column-gap: 18.44px;
}