a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}

.header__list-item5 {
  display: inline-block;
  align-content: flex-end;
}

.header {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #1E0606;
  padding-bottom: 130px;
}

.header__list-one{
  display: flex;
  flex-direction: row;
  column-gap: 17px;
  align-items: center;
}

.footer {
  background: #434343;
}

.nav_menu-name {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #AAAAAA;
}

.nav_menu-chapt-btn {
  background: black;
  color: white;
  padding: 9px 21px;
}

.nav_menu-chapt {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.info_name {
  color: #FFFFFF;
}

.info_copyright {
  color: #FFFFFF;
}

.info_design {
  color: #AAAAAA;
}

.nav_menu {
  display: flex;
  column-gap: 203px;
}

.info {
  display: flex;
}

.nav {
  padding-top: 42px;
  padding-bottom: 216px;
}

.nav_menu-chapt-input {
  padding: 9px 52px;
}

.nav_menu-chapt-con {
  padding-left: 31px;
}

.social {
  display: flex;
  column-gap: 10px;
  padding-left: 0;
}

