body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.banner_button-btn-one {
  background: rgba(30, 6, 6, 0.6);
  width: 32px;
}

.banner_button-btn {
  background: white;
  width: 32px;
}

.banner_numb {
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 200;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  color: #1E06060D;
}

.banner_title {
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  color: #1E0606;
  max-width: 310px;
}

.banner {
  display: flex;
  background-color: #EEE4DB;
  max-width: 1180px;
  height: 369px;
  padding-top: 17px;
}

.block-1 {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.banner_title-info {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  background: #C29974;
  color: white;
  padding: 11px;
}

.banner_title-btn {
  padding: 9px 23px;
  background: #000000;
  color: #ffffff;
}

.banner_title-img {
  position: absolute;
  left: 500px;
  top: -73px;
}

.category {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.main__list {
  display: flex;
  column-gap: 56px;
}

.main__list-img-kids {
  background: #DBE4DB;
}

.main__list-img-toys {
  background: #F8F2DA;
}

.category_title {
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;   
  margin-bottom: 30px;
}

.banner_text {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 5px;
  color: #1E0606;
}

.delivery {
  display: flex;
  align-items: center;
  gap: 120px;
  margin-top: 90px;
}

.delivery_name {
  display: flex;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
  margin-bottom: 17px;
}

.delivery_name-two {
  display: flex;
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 700;
  font-size: 26px;
  line-height: 7px;
  color: #1E0606;
  margin-bottom: 22px;
}

.contain_text-some {
  z-index: 3;
}

.delivery_list-garant {
  display: flex;
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 46px;
  color: #1E0606;
  padding-bottom: 22px;
}

.delivery_list-credit {
  display: flex;
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 21px;
  color: #1E0606;
  padding-bottom: 30px;
}

.delivery_list-aboutme {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  padding-bottom: 15px;
}

.delivery_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 24px;
  background: #000000;
  color: white;
}

.category__text {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  gap: 27px;
  align-items: center;
}

.category__text-content {
  max-width: 580px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
}

.contain_text-aboutus {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  font-size: 26px;
  line-height: 34px;
  color: #1E0606;
  z-index: 3;
}

.delivery_list-start {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  padding-bottom: 25px;
}

.delivery_list-btn {
  display: flex;
}

.main {
  position: relative;
  background: #FFFFFF;
}

.social__thumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 126px;
  margin-top: 91px;
  margin-bottom: 90px;
}

.contain {
  display: flex;
  padding-bottom: 200px;
}

.contain_text {
  display: flex;
  flex-direction: column;
  max-width: 470px;
}

.contain_contacts {
  flex-direction: column;
  margin-left: 117px;
}

.contain_contacts-img {
  position: absolute;
  right: 120px;
  bottom: 27px;
  z-index: 3;
}

.bg_text {
  background: #E1F0F7;
  position: absolute;
  width: 543px;
  height: 209px;
  left: 560px;
  top: 1824px;
  z-index: 1;
}

.contain_text-story {
  display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
    max-width: 479px;
    position: relative;
    z-index: 3;
}

.bg_contacts {
  background: #E1F0F7;
  position: absolute;
  width: 525px;
  height: 230px;
  left: -10px;
  top: 1824px;
  z-index: 1;
}

.contain_text-heading {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
  z-index: 3;
  position: relative;
}

.contain_contacts-name {
  display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    position: relative;
    z-index: 3;
}

.contain_contacts-text {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  width: 120px;
  height: 120px;
  background: #E1F0F7;
}

.main__list-img-shop {
  background: #EADDD3;
}

.main__list-img-acc {
  background: #D5D4E1;
}

.main__list-item-text-three {
  position: absolute;
  right: 358px;
}

.main__list-item-text-one {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
  position: absolute;
  top: 30%;
  left: 17px;
  width: 190px;
}

.main__list-item-text-two {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
  position: absolute;
  top: 30%;
  left: 310px;
  width: 190px;
}

.main__list-item-text-three {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
    position: absolute;
    top: 30%;
    left: 597px;
    width: 190px;
}

.main__list-item-text-four {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgb(147 3 3 / 25%);
  position: absolute;
  top: 30%;
  left: 917px;
  width: 190px;
}

.category__text-arrow {
  gap: 30px;
}

.contain__btn {
  padding: 10px 24px;
  background: #000000;
  color: white;
  z-index: 3;
  position: relative;
}

.contact-form {
  width: 605px;
  height: 542px;
  border: 40px solid #E5EAF8;
}

.none {
  padding-bottom: 45px;
}

.contact__form-name {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 597px;
  height: 50px;
}

.contact__form-input {
  width: 290px;
  height: 50px;
}

.contacts {
  display: flex;
}

.form {
  background: #E5EAF8
}

.contact {
  display: flex;
}

.contact__form-mes {
  width: 597px;
  height: 148px;
}

.click {
  width: 542px;
  height: 22px;
}

.contact__form-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 22px;
  gap: 10px;
  color: white;
  background: #000000;
}

.contact__form-info {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.contact__form-info1 {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;
  color: #C29974;
}

.popup {
  background: #E5EAF8;
  position: absolute;
  left: 15%;
  top: 0%;;
  display: none;
  z-index: 1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  background: rgba(125, 151, 218, 0.8);
}

.popup_wr {
  display: flex;
  z-index: 20;
}

.open {
  display: flex;
}

.close-popup {
  position: absolute;
  left: 100%;
  background: none;
  border: none;
}