.container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1em;
    margin-bottom: 80px;
    box-sizing: border-box;
  }
  .container div {
    width: 1080px;
    height: 559px;
    background-color: white;
  }

  .nav {
    background-color: #434343;
  }

  .nav div {
    width: 380px;
    height: 281px;
    color: white;
    background-color: #434343;
  }